Distribution of Scheduled Monuments in England.

This code will find the nearest scheduled monument to the centre point of a given English postcode

In [104]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
from cartopy.feature import ShapelyFeature
import cartopy.crs as ccrs
import matplotlib.patches as mpatches
from shapely.geometry import Point

In [105]:
counties = gpd.read_file('C:\\Users\\inkyt\\Documents\\GitHub\\egm722\\EGM722_Assignment\\LAs\\LAD_MAY_2021_UK_BFE_V2.shp')
print(counties.head())

   OBJECTID    LAD21CD               LAD21NM   BNG_E   BNG_N     LONG  \
0         1  E06000001            Hartlepool  447160  531474 -1.27018
1         2  E06000002         Middlesbrough  451141  516887 -1.21099
2         3  E06000003  Redcar and Cleveland  464361  519597 -1.00608
3         4  E06000004      Stockton-on-Tees  444940  518183 -1.30664
4         5  E06000005            Darlington  428029  515648 -1.56835

         LAT     SHAPE_Leng    SHAPE_Area  \
0  54.676140   66110.011028  9.835107e+07
1  54.544670   41055.789790  5.455359e+07
2  54.567520  105292.103526  2.537854e+08
3  54.556911  108085.190140  2.097308e+08
4  54.535339  107203.152334  1.974778e+08

                                            geometry
0  POLYGON ((447213.900 537036.104, 447228.798 53...
1  POLYGON ((448489.897 522071.798, 448592.597 52...
2  POLYGON ((455525.931 528406.654, 455724.632 52...
3  POLYGON ((444157.002 527956.304, 444165.898 52...
4  POLYGON ((423496.602 524724.299, 423497.204 52...

In [106]:
monuments = gpd.read_file('C:\\Users\\inkyt\\Documents\\GitHub\\egm722\\EGM722_Assignment\\Scheduled Monuments\\ScheduledMonuments_08April2022.shp')
print(monuments.head())

   ListEntry                                     Name   SchedDate AmendDate  \
0    1001718                     Mound S of Woodbrook        None      None
1    1001719                              Castle Twts        None      None
2    1001720                         Lyonshall Castle        None      None
3    1001721  Mound 1200yds (1100m) NNE of the Church  1935-08-24      None
4    1001722                         Limebrook Priory        None      None

  LegacyUID             NGR CaptureSca        Easting       Northing  \
0    HE 106  SO 30447 54456    1:10000  330447.291404  254454.114532
1    HE 107  SO 27703 55474    1:10000  327703.569954  255473.151246
2    HE 108  SO 33165 56319    1:10000  333163.723679  256327.100384
3    HE 109  SO 37237 68101    1:10000  337235.814277  268099.929714
4    HE 110  SO 37411 66071    1:10000  337406.349835  266070.613537

    AREA_HA                                          Hyperlink  \
0  0.214169  https://historicengland.org.uk/listing/the-lis...
1  0.094647  https://historicengland.org.uk/listing/the-lis...
2  1.528104  https://historicengland.org.uk/listing/the-lis...
3  0.288497  https://historicengland.org.uk/listing/the-lis...
4  0.554659  https://historicengland.org.uk/listing/the-lis...

                                            geometry
0  POLYGON ((330461.082 254430.814, 330448.625 25...
1  POLYGON ((327719.469 255459.641, 327714.656 25...
2  POLYGON ((333210.781 256388.797, 333238.688 25...
3  POLYGON ((337251.501 268073.151, 337244.700 26...
4  POLYGON ((337389.625 266022.125, 337378.531 26...

In [107]:
monuments.crs

<Projected CRS: EPSG:27700>
Name: OSGB 1936 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49°45'N to 61°N and 9°W to 2°E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.0, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: OSGB 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [89]:
postcodes = gpd.read_file("C:\\Users\\inkyt\\Documents\\GitHub\\egm722\\EGM722_Assignment\\englishpostcodes3.csv")
postcodes

C:\Users\inkyt\anaconda3\envs\egm722\lib\site-packages\geopandas\geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

     postcode eastings northings  latitude longitude geometry
0         AL1   515800    206900  51.74836  -0.32237     None
1        AL10   522200    208300  51.75958   -0.2292     None
2         AL2   515100    203800  51.72064  -0.33353     None
3         AL3   512400    210100  51.77781  -0.37057     None
4         AL4   517700    209500  51.77133  -0.29398     None
...       ...      ...       ...       ...       ...      ...
2143     YO61   452700    469200  54.11579   -1.1937     None
2144     YO62   465600    483500  54.24282  -0.99325     None
2145      YO7   442400    481100   54.2237   -1.3496     None
2146      YO8   462100    432100   53.7813  -1.05745     None
2147                                                     None

[2148 rows x 6 columns]

In [108]:
postcodes['geometry'] = geometry
postcodes = gpd.GeoDataFrame(postcodes)
postcodes

,postcode,eastings,northings,latitude,longitude,geometry
0,AL1,515800,206900,51.74836,-0.32237,POINT (515800.000 206900.000)
1,AL10,522200,208300,51.75958,-0.2292,POINT (522200.000 208300.000)
2,AL2,515100,203800,51.72064,-0.33353,POINT (515100.000 203800.000)
3,AL3,512400,210100,51.77781,-0.37057,POINT (512400.000 210100.000)
4,AL4,517700,209500,51.77133,-0.29398,POINT (517700.000 209500.000)
...,...,...,...,...,...,...
2143,YO61,452700,469200,54.11579,-1.1937,POINT (452700.000 469200.000)
2144,YO62,465600,483500,54.24282,-0.99325,POINT (465600.000 483500.000)
2145,YO7,442400,481100,54.2237,-1.3496,POINT (442400.000 481100.000)
2146,YO8,462100,432100,53.7813,-1.05745,POINT (462100.000 432100.000)
2147,,,,,,POINT (nan nan)

In [109]:

#this is how we define the projection
postcodes.crs = "EPSG:27700"
print (postcodes.crs)
EPSG:27700

EPSG:27700

In [110]:
monuments.crs = "EPSG:27700"
print (monuments.crs)
EPSG:27700

EPSG:27700

In [111]:
#create an STRtree object using the geometries I want to search:

from shapely.strtree import STRtree
monument_tree = STRtree(monuments['geometry'].values) # creates an STRtree object with the monuments data

In [124]:
postcode = postcodes.loc[postcodes['postcode'] == 'B19', 'geometry'].values[0]

In [125]:
nearest_monument = monument_tree.nearest(postcode) # gets the closest object in monuments to the postcode geometry

In [126]:
print (nearest_monument)

POLYGON ((403485.4500000002 288820.8000000007, 403485.3499999996 288817.75, 403485.4900000002 288783.4279999994, 403482.6119999997 288783.443, 403444.932 288783.6380000003, 403427.2369999997 288787.2909999993, 403411.2000000002 288790, 403403.9000000004 288790.8499999996, 403400.6500000004 288791.1999999993, 403391.3190000001 288791.9759999998, 403381.2460000003 288792.8870000001, 403371.0789999999 288792.9710000008, 403369.7000000002 288794.9499999993, 403368.0999999996 288797.0999999996, 403366.9500000002 288798.75, 403365.75 288800.3000000007, 403364.5 288801.8000000007, 403363.2000000002 288803.3000000007, 403356.3499999996 288811.3000000007, 403358.1500000004 288812.8000000007, 403358.3499999996 288813.4000000004, 403359.0999999996 288815.4000000004, 403360.25 288818.1500000004, 403360.0999999996 288818.1500000004, 403399.0630000001 288936.9949999992, 403484.7070000004 288937.8159999996, 403484.8499999996 288914.0999999996, 403485.0999999996 288904.3499999996, 403485.25 288894.6500000004, 403485.2999999998 288884.3000000007, 403485.2000000002 288873.9000000004, 403485.3499999996 288848.4000000004, 403485.4500000002 288823.9000000004, 403485.4500000002 288820.8000000007))

In [135]:
nearest_metadata = monuments.loc[monuments['geometry'].values == nearest_monument]

In [136]:
print(nearest_metadata)

       ListEntry                                               Name  \
19648    1021388  Remains of the Boulton and Watt Soho foundry a...

        SchedDate AmendDate LegacyUID             NGR CaptureSca  \
19648  2008-04-17      None     35144  SP 03421 88863     1:1250

             Easting       Northing   AREA_HA  \
19648  403431.035327  288857.808858  1.630571

                                               Hyperlink  \
19648  https://historicengland.org.uk/listing/the-lis...

                                                geometry
19648  POLYGON ((403485.450 288820.800, 403485.350 28...